.section-movie-list {
   /* max-width: 60rem; */
   /* width: 90%; */
   /* margin: 2rem auto; */
   /* margin: 2rem auto; */
   /* margin-top: 0; */
   animation: movies-appear 1s ease-out forwards;
   /* border: 5px solid blue; */

   padding: 20px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
   border-radius: 14px;
   background-color: white;
   /* min-width: 400px; */
   /* border: 20px solid #8a2b06; */
   /* border: 10px solid gold; */
   margin: 5px;
   /* max-width: 600px; */
}

.section-movie-list ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

@keyframes movies-appear {
   from {
      opacity: 0;
      transform: translateY(3rem);
   }

   to {
      opacity: 1;
      transform: translateY(0);
   }
}

/**/
.status-message {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 200px;
   font-size: 24px;
   color: #fff;
}

.status-message.error {
   color: #f44336;
}

.status-message.loading p::after {
   content: ".";
   animation: dots 1s infinite;
}

@keyframes dots {
   0%,
   20% {
      content: ".";
   }
   40% {
      content: "..";
   }
   60% {
      content: "...";
   }
   80% {
      content: ".";
   }
}
