.container-discount {
   margin-top: 100px;
   border: 3px solid red;
}

.container-saledata {
   display: flex;
   justify-content: center;
   border: 3px solid blue;
}

.container-saledata-image {
   border: 3px solid black;
   width: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 25px;
}

.saledata-image {
   max-width: 100%; /* Set the maximum width to 100% of its container */
   height: auto; /* Maintain aspect ratio */
}

.container-price-info {
   border: 3px solid red;
}

.addtocart-form {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}
